fastapi==0.109.2
uvicorn[standard]==0.27.1
supabase
pydantic==2.6.1
python-dotenv==1.0.1
langchain==0.1.13
langchain-core==0.1.33
langchain-google-genai==0.0.11
chromadb==0.4.24
google-generativeai==0.4.1
sse-starlette==2.0.0
